.svgMap-country#svgMap-map-country-MR,
.svgMap-country#svgMap-map-country-XK,
.svgMap-country#svgMap-map-country-LY,
.svgMap-country#svgMap-map-country-TN,
.svgMap-country#svgMap-map-country-AO,
.svgMap-country#svgMap-map-country-AM,
.svgMap-country#svgMap-map-country-AU,
.svgMap-country#svgMap-map-country-AT,
.svgMap-country#svgMap-map-country-AZ,
.svgMap-country#svgMap-map-country-BH,
.svgMap-country#svgMap-map-country-BD,
.svgMap-country#svgMap-map-country-BE,
.svgMap-country#svgMap-map-country-BJ,
.svgMap-country#svgMap-map-country-BT,
.svgMap-country#svgMap-map-country-BA,
.svgMap-country#svgMap-map-country-BW,
.svgMap-country#svgMap-map-country-BN,
.svgMap-country#svgMap-map-country-BG,
.svgMap-country#svgMap-map-country-BF,
.svgMap-country#svgMap-map-country-BI,
.svgMap-country#svgMap-map-country-KH,
.svgMap-country#svgMap-map-country-CM,
.svgMap-country#svgMap-map-country-CV,
.svgMap-country#svgMap-map-country-CF,
.svgMap-country#svgMap-map-country-KM,
.svgMap-country#svgMap-map-country-CG,
.svgMap-country#svgMap-map-country-HR,
.svgMap-country#svgMap-map-country-CY,
.svgMap-country#svgMap-map-country-CZ,
.svgMap-country#svgMap-map-country-DK,
.svgMap-country#svgMap-map-country-DJ,
.svgMap-country#svgMap-map-country-GQ,
.svgMap-country#svgMap-map-country-ER,
.svgMap-country#svgMap-map-country-EE,
.svgMap-country#svgMap-map-country-ET,
.svgMap-country#svgMap-map-country-FO,
.svgMap-country#svgMap-map-country-FJ,
.svgMap-country#svgMap-map-country-GA,
.svgMap-country#svgMap-map-country-GM,
.svgMap-country#svgMap-map-country-GN,
.svgMap-country#svgMap-map-country-GW,
.svgMap-country#svgMap-map-country-HK,
.svgMap-country#svgMap-map-country-IS,
.svgMap-country#svgMap-map-country-CI,
.svgMap-country#svgMap-map-country-JO,
.svgMap-country#svgMap-map-country-KE,
.svgMap-country#svgMap-map-country-KW,
.svgMap-country#svgMap-map-country-LA,
.svgMap-country#svgMap-map-country-LB,
.svgMap-country#svgMap-map-country-LS,
.svgMap-country#svgMap-map-country-LR,
.svgMap-country#svgMap-map-country-LI,
.svgMap-country#svgMap-map-country-LU,
.svgMap-country#svgMap-map-country-MK,
.svgMap-country#svgMap-map-country-MG,
.svgMap-country#svgMap-map-country-MW,
.svgMap-country#svgMap-map-country-MY,
.svgMap-country#svgMap-map-country-MV,
.svgMap-country#svgMap-map-country-MT,
.svgMap-country#svgMap#svgMap-map-country-MR,
.svgMap-country#svgMap-map-country-MU,
.svgMap-country#svgMap-map-country-YT,
.svgMap-country#svgMap-map-country-MD,
.svgMap-country#svgMap-map-country-MC,
.svgMap-country#svgMap-map-country-ME,
.svgMap-country#svgMap-map-country-NR,
.svgMap-country#svgMap-map-country-NP,
.svgMap-country#svgMap-map-country-NL,
.svgMap-country#svgMap-map-country-NC,
.svgMap-country#svgMap-map-country-NZ,
.svgMap-country#svgMap-map-country-PS,
.svgMap-country#svgMap-map-country-PG,
.svgMap-country#svgMap-map-country-PH,
.svgMap-country#svgMap-map-country-PT,
.svgMap-country#svgMap-map-country-QA,
.svgMap-country#svgMap-map-country-RE,
.svgMap-country#svgMap-map-country-RW,
.svgMap-country#svgMap-map-country-SM,
.svgMap-country#svgMap-map-country-ST,
.svgMap-country#svgMap-map-country-SN,
.svgMap-country#svgMap-map-country-SC,
.svgMap-country#svgMap-map-country-SL,
.svgMap-country#svgMap-map-country-SG,
.svgMap-country#svgMap-map-country-SK,
.svgMap-country#svgMap-map-country-SI,
.svgMap-country#svgMap-map-country-SB,
.svgMap-country#svgMap-map-country-LK,
.svgMap-country#svgMap-map-country-SZ,
.svgMap-country#svgMap-map-country-TW,
.svgMap-country#svgMap-map-country-TL,
.svgMap-country#svgMap-map-country-UG,
.svgMap-country#svgMap-map-country-AE,
.svgMap-country#svgMap-map-country-VU,
.svgMap-country#svgMap-map-country-VA,
.svgMap-country#svgMap-map-country-VN,
.svgMap-country#svgMap-map-country-ZW,
.svgMap-country#svgMap-map-country-LY,
.svgMap-country#svgMap-map-country-XK,
.svgMap-country#svgMap-map-country-TN,
.svgMap-country#svgMap-map-country-GE,
.svgMap-country#svgMap-map-country-HU,
.svgMap-country#svgMap-map-country-RO,
.svgMap-country#svgMap-map-country-AL,
.svgMap-country#svgMap-map-country-IE,
.svgMap-country#svgMap-map-country-IL,
.svgMap-country#svgMap-map-country-TZ,
.svgMap-country#svgMap-map-country-KG,
.svgMap-country#svgMap-map-country-RS,
.svgMap-country#svgMap-map-country-GB,
.svgMap-country#svgMap-map-country-DE,
.svgMap-country#svgMap-map-country-IQ,
.svgMap-country#svgMap-map-country-LV,
.svgMap-country#svgMap-map-country-LT,
.svgMap-country#svgMap-map-country-MZ,
.svgMap-country#svgMap-map-country-ID,
.svgMap-country#svgMap-map-country-ZM,
.svgMap-country#svgMap-map-country-ZA,
.svgMap-country#svgMap-map-country-SO,
.svgMap-country#svgMap-map-country-NA,
.svgMap-country#svgMap-map-country-OM,
.svgMap-country#svgMap-map-country-SS,
.svgMap-country#svgMap-map-country-GH,
.svgMap-country#svgMap-map-country-TH,
.svgMap-country#svgMap-map-country-SY,
.svgMap-country#svgMap-map-country-CH,
.svgMap-country#svgMap-map-country-MA,
.svgMap-country#svgMap-map-country-IT,
.svgMap-country#svgMap-map-country-KR,
.svgMap-country#svgMap-map-country-NO,
.svgMap-country#svgMap-map-country-KP,
.svgMap-country#svgMap-map-country-BY,
.svgMap-country#svgMap-map-country-YE,
.svgMap-country#svgMap-map-country-NG,
.svgMap-country#svgMap-map-country-MM,
.svgMap-country#svgMap-map-country-CD,
.svgMap-country#svgMap-map-country-SE,
.svgMap-country#svgMap-map-country-ES,
.svgMap-country#svgMap-map-country-TJ,
.svgMap-country#svgMap-map-country-TG,
.svgMap-country#svgMap-map-country-PL,
.svgMap-country#svgMap-map-country-AF,
.svgMap-country#svgMap-map-country-ML,
.svgMap-country#svgMap-map-country-SA,
.svgMap-country#svgMap-map-country-NE,
.svgMap-country#svgMap-map-country-MN,
.svgMap-country#svgMap-map-country-UZ,
.svgMap-country#svgMap-map-country-TM,
.svgMap-country#svgMap-map-country-GR,
.svgMap-country#svgMap-map-country-TR,
.svgMap-country#svgMap-map-country-UA,
.svgMap-country#svgMap-map-country-KZ,
.svgMap-country#svgMap-map-country-TD,
.svgMap-country#svgMap-map-country-EG,
.svgMap-country#svgMap-map-country-IR,
.svgMap-country#svgMap-map-country-JP,
.svgMap-country#svgMap-map-country-PK,
.svgMap-country#svgMap-map-country-SD,
.svgMap-country#svgMap-map-country-KZ,
.svgMap-country#svgMap-map-country-DZ,
.svgMap-country#svgMap-map-country-FI,
.svgMap-country#svgMap-map-country-CN,
.svgMap-country#svgMap-map-country-IN,
.svgMap-country#svgMap-map-country-CN,
.svgMap-country#svgMap-map-country-RU,
.svgMap-country#svgMap-map-country-FR{
    display: none;
}

.svgMap-map-wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    padding-top: 525.5px;
    max-width: 435.14px;
    background: #fff;
}